body {
  font-family: sans-serif;
}

.viz-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
}

.viz {
  border: 1px solid #CECECE;
  padding: 10px 15px 0 10px;
  margin: 10px;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.viz h3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex: 0 0 auto;
}

.viz .desc {
  color: gray;
  font-size: 0.9em;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex: 0 0 auto;
}

.viz .vega-embed {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.viz .vega-embed .vega {
  flex: 1 0 auto;
}

.viz .vega-actions {
  padding-bottom: 10px;
}

.viz .vega-actions a {
  font-size: 0.8em;
  display: list-item;
  color: gray;
}

.viz .vega-actions a:hover {
  color: #333;
  text-decoration: underline;
}
