body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 854px;
  margin:0 auto;
}

a {
  color: #4183C4; }

table {
  padding: 0;border-collapse: collapse; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }

.vl-title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.vl-subtitle {
  color: #bbb;
  font-size: 20px;
  margin-left: 10px;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

.menu a {
  display: inline-block;
  margin-right: 3px;
  margin-top: 5px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu a:hover {
  background-color: #4682B4;
  color: white;
}

.sub-menu {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start | flex-end | center | space-between | space-around;
}

.sub-menu a {
  display: inline-block;
  margin-right: 3px;
  margin-top: 5px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;

  margin: auto;
}

.sub-menu a:hover {
  background-color: #4682B4;
  color: white;
}


footer {
  margin-top: 50px;
  text-align: center;
}
