.vl-title {
  font-size: 32px;
  font-weight: bold;
}

.vl-title a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

.menu a {
  display: inline-block;
  margin-right: 3px;
  margin-top: 5px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu a:hover {
  background-color: #4682B4;
  color: white;
}

footer {
  margin-top: 50px;
  text-align: center;
}
