node_modules
bower_components
_site
data/*
*.sublime-workspace
.idea

vega-lite*.js
vega-lite*.map
npm-debug.log
instance.json
coverage
Gemfile.lock

test/log
test/log/difflist.json
examples/_original/*
examples/_output/*
examples/_diff/*
examples/images/*
examples/all-examples.json
build/*
!build/vega-lite-schema.json
.jekyll-metadata
.nyc_output/*
