node_modules
_site
_data/vega-lite-schema.json
data/*
.idea
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnclean
coverage

test/log
test/log/difflist.json
examples/compiled/*.png
site/examples/
!site/examples/index.md
examples/all-examples.json
build/*
!build/vega-lite-schema.json
.jekyll-metadata
