/_data
/_includes
/_layouts
/_site
/.*
/build/examples
/build/site
/build/test
/build/test-runtime
/coverage
/data
/examples/
/node_modules
/scripts
/site
/test
/test-runtime

_config.yml
CONTRIBUTING.md
Gemfile
Gemfile.lock
tsconfig.json
tslint.json
vl.sublime-project
wdio.conf.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
