/_data
/_includes
/_layouts
/_site
/.*
/build/site
/coverage
/data
/examples/
/node_modules
/scripts
/site
/test
/test-runtime

_config.yml
codecov.yml
CONTRIBUTING.md
Gemfile
Gemfile.lock
jest-puppeteer.config.js
npm-debug.log*
rollup.config.js
tsconfig.json
.eslintrc.js
prettier*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
