{% assign id = include.spec | replace:'/', '-' %}

<div id="{{ id }}"></div>

<script>
    window.onload = function() {
      const spec = {% include_relative {{ include.spec }}.vl.json %};

      embedExample('#{{id}}', spec, false);
  }
</script>

<a href="https://vega.github.io/editor/#/examples/vega-lite/{{ include.spec }}">
  View this example in the online editor
</a>

<h3 id="spec">Vega-Lite JSON Specification</h3>

{: .example-spec}
```json
{% include_relative {{ include.spec }}.vl.json %}
```
