{%
  assign link = site.data.link %}{%
  assign keys = include.param | strip | split: " | " %}{%
  for key in keys %}{%
    assign trimmedKey = key | split: "[]" | first | split: "{}" | first | strip %}{%
    assign value = link[trimmedKey] %}{%
      capture name %}{% if value.name %}{{ value.name }}{% else %}{{trimmedKey}}{% endif %}{%
      endcapture %}{% if value.link %}<a href="{{value.link}}">{{ name }}</a>{% else %}{{ name }}{% endif %}{%
      if key contains "[]" %}[]{% elsif key contains "{}" %}{}{% endif %}{%
    unless forloop.last %} | {%
    endunless %}{%
  endfor %}
