<table>
  <thead>
    <tr>
      <th style="text-align: left">Property</th>
      <th style="text-align: center">Type</th>
      <th style="text-align: left">Description</th>
    </tr>
  </thead>
  <tbody>
    {% assign schema = site.data.vega-lite-schema.definitions[include.source].properties %}

    {% assign props = include.props | split: ","  %}
    {% for prop in props %}
      {% assign type = schema[prop].type %}
      {% assign description =  schema[prop].description" %}
      {% if type == nil %}
        <!--special case for $ref-->
        {% if schema[prop]["$ref"] %}
          {% assign array = schema[prop]["$ref"] | split: "/" %}
          {% assign last_index = array | size | minus: 1 %}
          {% assign type = array[last_index] %}
        {% elsif schema[prop].anyOf %}
          <!--special case for anyOf-->
          {% capture type %}
            {% assign para = schema[prop].anyOf %}
            {% include type.html types=para %}
          {% endcapture %}
        {% endif %}
      {% elsif type == "array" %}
         <!--special case for type is arrays of objects -->
        {% assign type = schema[prop].items.type | append: "[]" | capitalize %}
      {% elsif type.first != nil %}
        <!-- special case for type in the schema is an array of multiple types-->
        {% assign newType = ""%}
        {% for element in type %}
          {% assign elem = element | capitalize %}
          {% assign newType = newType | append: " | " | append: elem %}
        {% endfor %}
        {% assign type =  newType | remove_first: " | " %}
      {% else %}
        <!--normal case for single type-->
        {% assign type = type | capitalize %}
      {% endif %}

      <!--check if prop is a link or not.-->
      {% capture propWithLink %}
          {% include checkLink.html check="prop" channel="Axis" param=prop %}
      {% endcapture %}

      {% capture typeWithLink %}
        {% include checkLink.html check="type" channel="Axis" param=type %}
      {% endcapture %}

      <tr>
        <td style="text-align: left">{{propWithLink}}</td>
        <td style="text-align: center">{{typeWithLink}}</td>
        <td style="text-align: left">{{description | markdownify }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
