<table class="doc-table">
  <thead>
    <tr>
      <th>Property</th>
      <th class="table-column-type">Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% assign schema = site.data.vega-lite-schema.definitions[include.source].properties %}
    {% assign required = site.data.vega-lite-schema.definitions[include.source].required %}
    {% assign props = include.props | split: "," %}
    {% for prop in props %}
      {% assign source = schema[prop] %}
      {% capture type %}{% include type.html source=source %}{% endcapture %}
      <tr>
        <td>{{ prop }}</td>
        <td>{% include lookupLink.html channel=include.source param=type %}</td>
        <td>{% include description.html source=source param=prop required=required %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
