{% assign type = include.src.type %}

{% if type == nil %}
  <!--special case for $ref-->
  {% if include.src["$ref"] %}
    {% assign array = include.src["$ref"]] | split: "/" %}
    {% assign last_index = array | size | minus: 1 %}
    {% assign type = array[last_index] %}
  {% elsif include.src.anyOf %}
    <!--special case for anyOf-->
    {% capture type %}
      {% assign para = include.src.anyOf %}
      {% include type-anyof.html types=para %}
    {% endcapture %}
  {% else %}
    {% comment %}
      This is a HACK when property has a type of any. any will results in property having no
      type in schema file, so we need to assign it as Object
      Need to be deleted when typescript-json-schema supports TypeScript 2.2 (having object data type)
    {% endcomment %}
    {% assign type = "Object" %}
  {% endif %}
{% elsif type == "array" %}
    <!--special case for type is arrays of objects -->
    {% if include.src.items.type %}
      {% assign type =include.src.items.type | append: "[]" | capitalize %}
    {% else %}
      {% comment %}
        This is a HACK when property has a type of any[]. any[] will results in property having no
        type in schema file, so we need to assign it as Object[]
        Need to be deleted when typescript-json-schema supports TypeScript 2.2 (having object data type)
      {% endcomment %}
      {% assign type = "Object[]" %}
    {% endif %}
{% elsif type.first != nil %}
  <!-- special case for type in the schema is an array of multiple types-->
  {% assign newType = "" %}
  {% for element in type %}
    {% assign elem = element | capitalize %}
    {% assign newType = newType | append: " | " | append: elem %}
  {% endfor %}
  {% assign type =  newType | remove_first: " | " %}
{% else %}
  <!--normal case for single type-->
    {% assign type = type | capitalize %}
{% endif %}

{{type}}
