{% assign res = "" %}
{% for type in include.types %}
  {% if type.type == "array" %}
    {% if type.items["$ref"] %}
      {% assign array = type.items["$ref"] | split: "/" %}
      {% assign last_index = array | size | minus: 1 %}
      {% assign element = array[last_index] | append: "[]" %}
      {{element | append: include.suffix}}
    {% elsif type.items.anyOf %}
      {% capture element %}
        {% assign para = type.items.anyOf %}
        {% include type-anyof.html types=para suffix="[]"%}
      {% endcapture %}
      {{element | append: include.suffix}}
    {% else %}
      {% assign element = type.items.type | append: "[]" | capitalize %}
      {{element | append: include.suffix}}
    {% endif %}
  {% elsif type.type %}
    {% assign element = type.type | capitalize %}
    {{element | append: include.suffix}}
  {% elsif type["$ref"] %}
    {% assign array = type["$ref"] | split: "/" %}
    {% assign last_index = array | size | minus: 1 %}
    {% assign element = array[last_index] %}
    {{element | append: include.suffix}}
  {% endif %}

  {% assign splitstring = " | " %}
  {% unless forloop.last %}
    {{splitstring}}
  {% endunless %}
{% endfor %}
