* {
  font-family: Helvetica Neue;
}

a, a:visited{
  color: #1a4183;
}

#ctrl {
  background-color: #eee;
  padding: 0.5em;
  margin-bottom: 1em;
  float:left;
  width: 320px;
}

#ctrl .mark {
  margin-bottom: 0.3em;
}
#ctrl .toggles {
  margin-top: 0.8em;
}
#ctrl .shorthand {
  margin-bottom: 0.5em;
  width:290px;
}

#ctrl .main{
  margin-bottom: 1em;
}

#ctrl textarea.vlcode{
  width: 290px;
  height: 175px;
  padding-right: 0.3em;
}

#ctrl textarea.vgcode{
  width: 290px;
  height: 350px;
  padding-right: 0.3em;
}

#ctrl span{
  font-weight: 500;
  font-size: 14px;
}

#ctrl .action{
  font-size: 10px;
  margin-left: 3px;
}

#ctrl a.action{
  text-decoration: none;
}

#ctrl .toggle{
  display: inline-block;
  width: 55px;
}

#ctrl span.label {
  display: inline-block;
  width: 60px;
}

#ctrl .cfg span.label {
  width: 120px;
}

#ctrl label span{
  font-size: 12px;
  width: 100px;
}

#ctrl select {
  width: 80px;
}
#ctrl select.aggr {
  width: 60px;
}
#ctrl select.type {
  width: 35px;
}
#ctrl select.data {
  width: 210px;
}
#ctrl select.scale{
  width: 45px;
}
#ctrl span.header { width: 80px; }
#ctrl span.header.h0 { width: 60px; }
#ctrl span.header.h1 { width: 60px; }
#ctrl span.header.h3 { width: 40px; }
#ctrl span.header.h4 { width: 45px; }

#vis {
  margin-left: 320px;
}