<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="shortcut icon" href="https://vega.github.io/favicon.ico" />

    {% seo %}

    <script>
      const BASEURL = window.location.origin + '{{site.baseurl}}';
    </script>

    <link rel="stylesheet" href="{{ site.baseurl }}/static/github.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/octicons@4.4.0/build/font/octicons.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/static/main.css" />
  </head>
  <body>
    {{ content }}
    <script src="{{ site.baseurl }}/static/bundle.js"></script>
  </body>
</html>
