<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="shortcut icon" href="https://vega.github.io/favicon.ico"/>
    <meta name="description" content="{{ site.description }}">

    <script>
      var BASEURL = "{{site.baseurl}}";
    </script>

    <title> {{site.title}}{% if page.title %}:{% endif %} {{page.title}} </title>
    <link rel="stylesheet" href="{{site.baseurl}}/site/static/syntax.css">
    <link rel="stylesheet" href="{{site.baseurl}}/site/static/github.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/site/static/main.css">
  </head>
  <body>
    {{ content }}
    <script src="{{site.baseurl}}/build/site/main.js"></script>
    <script>
      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44428446-6', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
