---
layout: page_submenu

sidebar:
- text: Overview
  url: index
- text: Spec
  url: spec
- text: Data
  url: data
- text: Transform
  url: transform
- text: Mark
  url: mark
- text: Encoding
  url: encoding
  sub-sidebar:
  - text: Aggregate
    url: aggregate
  - text: Bin
    url: bin
  - text: Sort
    url: sort
  - text: Time Unit
    url: timeunit
  - text: Scale
    url: scale
  - text: Axis
    url: axis
  - text: Legend
    url: legend
- text: Config
  url: config
- break: true
- text: Customizing Size
  url: size
- text: Faceting
  url: facet


base: /docs/
---

{{ content }}
