---
layout: plain

navigation:
 - text: Overview
   url: index
 - text: Data
   url: data
 - text: Transform
   url: transform
 - text: Mark
   url: mark
 - text: Encoding
   url: encoding
 - text: Config
   url: config
---

{% assign url = page.url | remove:'/docs/' | remove:'.html' %}

{% if url == '' %}
  {% assign url = 'index' %}
{% endif %}

<div class="sub-nav">
  <nav class="page-centered">
    {% for link in page.navigation %}
    <a {% if (url == link.url) %}class="active"{% endif %}
        href="{{site.baseurl}}/docs/{{link.url}}.html" title="{{link.title}}">{{link.text}}
    </a>
    {% endfor %}
  </nav>
</div>

<div class="page-centered page-content">
  <h1>{{page.title}}</h1>

  {{ content }}
</div>
