---
layout: plain
---

{% assign url = page.url | remove:layout.base | remove:'.html' | default: 'index' %}

{% if layout.navigation %}
<div class="sub-nav">
  <nav class="page-centered">
    {% for link in layout.navigation %}
    <a {% if link.url == url %}class="active"{% endif %}
        href="{{site.baseurl}}{{layout.base}}{% if link.url != 'index' %}{{link.url}}.html{% endif %}" title="{{link.title}}">{{link.text}}
    </a>
    {% endfor %}
  </nav>
</div>
{% endif %}

<div class="page-centered page-main">
  {% if layout.sidebar %}
  <aside class="page-sidebar">
    <ul class="sidebar-nav">
      {% for link in layout.sidebar %}
      {% if link.break %}
      <br>
      {% else %}
      <li class="sidebar-nav-item"><a {% if link.url == url %}class="active"{% endif %}
          href="{{site.baseurl}}{{layout.base}}{% if link.url != 'index' %}{{link.url}}.html{% endif %}" title="{{link.title}}">{{link.text}}
      </a></li>
      {% if link.sub-sidebar %}
      <ul class="sub-sub-nav">
        {% for sub_link in link.sub-sidebar %}
        <li class="sidebar-nav-item sub-item"><a {% if sub_link.url == url %}class="active"{% endif %}
            href="{{site.baseurl}}{{layout.base}}{% if sub_link.url != 'index' %}{{sub_link.url}}.html{% endif %}" title="{{sub_link.title}}">{{sub_link.text}}
        </a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}
      {% endfor %}
    </nav>
  </aside>
  {% endif %}

  <section class="page-content">
    <h1>{{page.title}}</h1>

    {{ content }}
  </section>
</div>
