name: Check

on:
  workflow_dispatch:
  push:

jobs:
  check:
    name: Format, Schema, and Examples
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GH_PAT || github.token }}
          ref: ${{ github.ref }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: 22

      - name: Install Node dependencies
        run: npm ci

      - name: Setup data
        run: npm run data

      - name: Install Parallel
        run: |
          # Faster than "sudo apt-get install parallel"
          wget https://raw.githubusercontent.com/martinda/gnu-parallel/master/src/parallel
          chmod +x parallel
          cp parallel sem
          sudo mv parallel sem /usr/local/bin

      - name: Format
        run: npm run format

      - name: Build Schema
        run: npm run schema

      - name: Check Schema
        run: scripts/check-schema.sh

      - name: Setup Git remote
        run: scripts/setup-git-ci.sh

      - name: Check and Commit
        run: scripts/check-and-commit.sh
