name: Test Docs

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'site/**'
      - 'package-lock.json'
      - '**prettier**'

jobs:
  build-site:
    name: Build Site
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          cache: 'npm'
          node-version: 20

      - name: Install Node dependencies
        run: npm ci

      - name: Lint
        run: npx prettier . --check

      - name: Build
        run: npm run build:site
